@model IEnumerable<ClienteAPI.Models.ProveedoresViewModel>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1 style="text-align:center">Mantenimiento de Proveedores</h1>

<p>
    <a asp-action="Create">Agregar Proveedor</a>
</p>
<table class="table table-active table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
               @Html.ActionLink("Editar", "Edit", new { id=item.IdProveedor }) |
                @Html.ActionLink("Ver", "Details", new { id=item.IdProveedor}) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.IdProveedor })
            </td>
        </tr>
}
    </tbody>
</table>
